<section class="hero-section">
    <hr class="primary">

    <div class="container hero-section-area">
        <div class="hero-section-title">
            <div class="section-title prímary">Strong Body. Strong Mind.</div>
        </div>

        <h1 class="title">Build Strength Boost Confidence Today!</h1>

        <p class="description"´>Begin your fitness journey with expert trainers, modern equipment, and a supportive environment desigened to make you succeed.</p>

        <ul class="check-list grid-checklist">
            <li class="check-list-item">Transform your body with training</li>
            <li class="check-list-item">Personal training for real results</li>
            <li class="check-list-item">Build confidence through fitness</li>
            <li class="check-list-item">Fitness tailored to your goals</li>
        </ul>

        <hr/>

        <div class="hero-cta">
            <a class="btn hero-cta-button" asp-action="My" asp-controller="Account">Get Started</a>
        </div>

        <img class="hero-image" src="~/images/hero-image.png" />

    </div>
</section>