@section Hero {
    <partial name="Partials/Sections/_HeroSection" />
}

<section class="banner-section">
    <div class="banner-content">
        <div class="banner-logos">
            <img src="~/images/company-supports-logo-1.png" />
            <img src="~/images/company-supports-logo-2.png" />
            <img src="~/images/company-supports-logo-3.png" />
            <img src="~/images/company-supports-logo-4.png" />
            <img src="~/images/company-supports-logo-5.png" />
        </div>
        <h1 class="banner-title">Modern Equipment</h1>
    </div>
</section>

<section class="aboutus-section">
    <div class="container aboutus-area">
        <div class="aboutus-image-wrapper">
            <div class="aboutus-image-item">
                <img src="~/images/about-us-image-1.png" />
            </div>
            <div class="aboutus-image-item">
                <img src="~/images/about-us-image-2.png" />
            </div>
        </div>

        <div class="aboutus-content-right">
            <div class="aboutus-title">
                <p>About Us</p>
            </div>
            <div class="aboutus-content-text">
                <h1>
                    Elevating Fitness Journey
                    with Expert Guidance
                </h1>
                <p>
                    We support every stage of your fitness journey with certified trainers, personalized
                    programs proven methods designed to help you train safely, build strength.
                </p>
            </div>
            <div class="aboutus-content-textbox">
                <p>
                    Our mission is to transform lives by combining expert guidance,
                    powerful training programs, and a motivating community that helps
                    you grow stronger every day.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="programs-section">
    <div class="programs-title">
        <p>Our Programs</p>
    </div>
    <div class="programs-content-text">
        <h1>
            Professional training program
            for stronger health
        </h1>
    </div>
    <div class="programs-image-container">
        <img src="~/images/program-image-1.png" />
        <img src="~/images/program-image-2.png" />
        <img src="~/images/program-image-3.png" />
    </div>
    <div class="programs-footer">
        <p>Let's make something great work together. </p> <a>Get Free Quote</a>
    </div>

</section>