@section Hero {
    <partial name="Partials/Sections/_HeroSection" />
}

<section class="banner-section">
    <div class="banner-content">
        <div class="banner-logos">
            <img src="~/images/company-supports-logo-1.png" />
            <img src="~/images/company-supports-logo-2.png" />
            <img src="~/images/company-supports-logo-3.png" />
            <img src="~/images/company-supports-logo-4.png" />
            <img src="~/images/company-supports-logo-5.png" />
        </div>
        <h1 class="banner-title">Modern Equipment</h1>
    </div>
</section>